.hero {
    height: 85vh;
    padding-top: 3rem;
    color: #fff;

    &__text {
        padding: 5rem;
        & h1 {
            font-family: 'Bangers', cursive;
            letter-spacing: 3px;
            font-size: $font-xl;
        }
        & h3 {
            letter-spacing: 1px;
        }
    }

}